@model TaskToDo

<div class="junbomtron" style="background-color: gray; border-radius: 5px; padding:5px">
    <h2>Detalhes</h2>
</div>
<br />
<div class="container" style="background-color: gray; border-radius: 5px; height:auto; padding:5px">
    <div class="row">
        <div class="col-md-2">
            <h3>@Html.DisplayNameFor(model => model.Title)</h3>
            <div>
                @Html.DisplayFor(model => model.Title)
            </div>
        </div>

        <div class="col-md-2">
            <h3>@Html.DisplayNameFor(model => model.Description)</h3>
            <div>
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>

        <div class="col-md-2">
            <h3>@Html.DisplayNameFor(model => model.Date)</h3>
            <div>
                @Html.DisplayFor(model => model.Date)
            </div>
        </div>
    </div>
   
    <div style="padding-top:15px">
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-light">Voltar</a>
    </div>
    <br />

</div>